<br><br>
<div class="box">
    <div>
        <h4>{{ error }}</h4>
    </div>
    <div>
    <img class="wrong" src="https://cdn.dribbble.com/users/1078347/screenshots/2799566/media/da1689a913fb87f888988230e869c896.png" alt="wrong">
    </div>
</div>